* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: #252627;
}

.container {
    width: 1200px;
    margin: auto;
}


/* UTILITIES */
/* flex */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-just-around {
    justify-content: space-around;
}

.flex-just-between {
    justify-content: space-between;
}

/* positions */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* text */
.bold {
    font-weight: 700;
}

.txt-orange {
    color: #f2b71d;
}


/* HEADER */
.header-nav {
    margin-top: 30px;
    padding-bottom: 30px;
}

.header-nav ul {
    list-style: none;
    align-items: center;
}

.header-nav ul .item-info {
    padding-right: 20px;
}

.header-nav ul .social-info {
   padding-left: 20px; 
}

.header-nav .info-list li:last-child {
    padding-right: 70px;
}

/* header hover */
.header-nav ul .item-info:hover {
    cursor: pointer;
}



/* MAIN */

/* jumbo section */
.jumbo {
    background-image: URL('../img/jumbo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.jumbo .container {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
} 

.jumbo .container .revolution {
    flex-basis: 50%;
    margin-bottom: 120px;
    margin-right: 100px;
}

.jumbo .container .revolution span {
    font-size: 65px;
}

.jumbo .container .revolution p {
    line-height: 30px;
    font-size: 18px;
    padding-top: 15px;
}

.jumbo .limited-sales {
    background-color: #f2b71d;
    width: 1200px;
    height: 200px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 55px);
    border-radius: 10px;
}