* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    color: black;
}

.container {
    width: 1200px;
    margin: auto;
}


/* UTILITIES */
/* flex */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-just-between {
    justify-content: space-around;
}

/* positions */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

/* text */
.bold {
    font-weight: 700;
}

