* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #252627;
}

.container {
    width: 1200px;
    margin: auto;
}


/* UTILITIES */
/* flex */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-just-around {
    justify-content: space-around;
}

.flex-just-between {
    justify-content: space-between;
}

.flex-just-center {
    justify-content: center;
}


/* positions */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

.hidden {
    opacity: 0;
}

/* text */
.bold {
    font-weight: 700;
}

.txt-upper {
    text-transform: uppercase;
}

.txt-orange {
    color: #f2b71d;
}

.txt-white {
    color: white;
}

.txt-center {
    text-align: center;
}

/* HEADER */
.header-nav {
    margin-top: 30px;
    padding-bottom: 30px;
}

.header-nav ul {
    list-style: none;
    align-items: center;
}

.header-nav ul .item-info {
    padding-right: 20px;
}

.header-nav ul .social-info {
   padding-left: 20px; 
}

.header-nav .info-list li:last-child {
    padding-right: 70px;
}

/* header hover */
.header-nav ul .item-info:hover {
    cursor: pointer;
}



/* MAIN */

/* jumbo section */
.jumbo {
    background-image: URL('../img/jumbo.jpg');
    background-size: cover;
    height: 800px;
}

.jumbo .container {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
} 

.jumbo .container .revolution {
    flex-basis: 550px;
    margin-bottom: 120px;
    margin-right: 100px;
}

.jumbo .container .revolution span {
    font-size: 60px;
}

.jumbo .container .revolution p {
    line-height: 30px;
    font-size: 17px;
    padding-top: 20px;
    color: #6b6b66;
}

.jumbo .limited-sales {
    background-color: #f2b71d;
    width: 1200px;
    height: 200px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 55px);
    border-radius: 10px;
}

/* limited sales */
.limited-sales {
    align-items: center;
}

.limited-sales .sales {
    padding-left: 60px;
}

.limited-sales .sales h2 {
    font-size: 30px;
}

.limited-sales .sales input {
    padding-left: 20px;
    margin-top: 30px;
    width: 480px;
    height: 50px;
    border-radius: 100px;
    border: none;
    -webkit-box-shadow: -2px 5px 4px -6px #000000;
    -moz-box-shadow: -2px 5px 4px -6px #000000;
    -o-box-shadow: -2px 5px 4px -6px #000000;
    box-shadow: -2px 5px 4px -6px #000000;
}

.limited-sales .sales .btn-submit {
    margin-top: 30px;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: none;
    left: -60px;
    background-color: #4d5156;
    color: #e4e7e7;
}

.limited-sales .sales .btn-submit:hover {
    cursor: pointer;
}


/* timer */
.limited-sales .countdown-sales {
    margin-right: 70px;
}

.limited-sales .countdown-sales .count {
    padding-right: 40px;
    font-size: 24px;
}


/* info doe banner */
.introduction {
    margin-top: 180px;
    margin-bottom: 60px;
}

.doe {
    width: 35%;
    font-size: 34px;
    line-height: 50px;
}

.doe .sign {
    margin: 40px auto;
    width: 200px;
}

.info-doe {
    width: 50%;
}

.info-doe p {
    font-size: 18px;
    line-height: 40px;
    color: #6b6b66;
}


/* courses */
.courses-bg {
    background-color: #e1eaea;
}

.courses-bg h2 {
    font-size: 50px;
    padding: 60px 0px 45px 0px;
}

.course {
    flex-basis: 32%;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.137);
    transition: all .3s ease;
}

.course .title-course {
    width: 320px;
    margin: 0px auto;
    border-bottom: 1px solid #6b6b6663;
}

.course img {
    width: 100%;
    transition: all .3s ease;
}

.course h3 {
    font-size: 20px;
    opacity: .9;
    padding: 30px 0px;
}

.course p {
    font-size: 16px;
    color: #6b6b66;
    padding-bottom: 35px;
    font-family: 'Lato', sans-serif;
}

.course .info-course {
    width: 320px;
    margin: 20px auto;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    opacity: .9;

}

.course .info-course i {
    padding-right: 8px;
}

.course .special-offer {
    padding: 3px 8px;
    background-color: #f2b71d;
    color: white;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    top: 10px;
    right: 10px;
}

.course .hover-price {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px;
}

.course .img-container {
    background-color: #000000;
    height: 206px;
}

/* course hover */
.course:hover .hover-price{
    opacity: 1;
}

.course:hover img {
    opacity: .6;
}

.course:hover {
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.49);
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.49);
}


/* btn course load more */
.courses-bg .btn-container {
    width: 100%;
    justify-content: center;
}

.courses-bg .load-btn {
    padding: 10px 20px;
    margin: 50px 0px 30px;
    border-radius: 100px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #ebb024;
    transition: all .3s ease;
}

.courses-bg .load-btn:hover {
    background-color: #d69f1f;
    cursor: pointer;
}


/* masterbook */
.book-bg {
    background-image: url(../img/slider_1-1917x607-1914x606.jpg);
    background-size: cover;
    height: 500px;
}

.book-bg .box-sx {
    justify-content: flex-end;
    width: 50%;
}

.book-bg .order-amazon {
    margin-top: 20px;
    width: 65%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.book-bg .order-amazon h2 {
    font-weight: 700;
    font-size: 34px;
}

.book-bg .order-amazon h3 {
    padding-top: 20px;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
    line-height: 35px;
}

.book-bg .order-amazon img {
    margin-top: 40px;
    width: 200px;
}

.book-bg .order-amazon img:hover {
    cursor: pointer;
}

.book-bg .book-img {
    width: 50%;
}

.book-bg .book-img img {
    height: 440px;
    bottom: 0;
    left: 0;
}


/* why-me */
.why-me {
    margin: 70px 0px 60px;
}

.why-me h2 {
    font-size: 50px;
}

.why-info .why-info-box {
    width: 48%;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 6px 48px -30px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 48px -30px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 48px -30px rgba(0,0,0,0.75);
    transition: all .1s ease-in-out;
}

.why-info .why-info-box .barra-hover {
    height: 100%;
    width: 5px;
    left: 0;
    top: 0;
    background-color: #f2b71d;
    transition: all .5s ease;   
}

.why-info .why-info-box img {
    padding: 50px 35px;
    color: #f2b71d;
    transition: all .1s ease-in-out;
}

.why-info .why-info-box .info-txt {
    padding-top: 55px;
}

.why-info .why-info-box .info-txt h3 {
    font-size: 24px;
    padding-bottom: 20px;
}

.why-info .why-info-box .info-txt p {
    font-size: 16px;
    line-height: 28px;
    opacity: .5;
    padding-bottom: 30px;
    padding-right: 10px;
}

/* effetto hover info-box */
.why-info .why-info-box:hover .barra-hover {
    width: 100%;
}

.why-info .why-info-box:hover img {
    color: white;
    transition: all .1s ease-in-out;
}


/* number banner */
.counter-bg {
    background-image: url(../img/counter-1919x1101.jpg);
    background-position-y: -10px;
    height: 500px;
}

.counter-container {
    height: 100%;
    align-items: center;
}

.counter-container .counter {
    justify-content: center;
    align-items: center;
}

.counter-container .counter img {
    padding-right: 20px;
}

.counter-container .counter h2 {
    color: #f3cb2b;
    font-size: 38px;
}

.counter-container .counter h3 {
    font-weight: 400;
}


/* slider students */
.slider-students-container {
    width: 600px;
    height: 500px;
    margin: 100px auto 40px;
}

.slider-students-container h2 {
    font-size: 50px;
}

.slider-students-container .slider {
    margin-top: 90px;
}

.slider-students-container .photo-sx {
    padding-left: 100px;
}

.slider-students-container .photo-dx {
    padding-right: 100px;
}

.slider-students-container .photo-sx ,
.slider-students-container .photo-dx,
.slider-students-container .photo-central  {
    cursor: pointer;
}

.slider-students-container i {
    cursor: pointer;

}

.slider-students-container p {
    padding-top: 60px;
    opacity: .7;
    line-height: 30px;
}


/* FOOTER */
.footer-bg {
    background-color: #ebb024;
    height: 300px;
}

.footer-nav .info-footer {
    margin-top: 40px;
    width: 22%;
}

.footer-nav .info-footer ul:not(#pages) {
    list-style: none;
}

.footer-nav .info-footer h3 {
    padding-bottom: 30px;
    text-transform: uppercase;
}

.footer-nav .info-footer .info-list li {
    padding: 10px 0px;
}

.footer-nav .info-footer .info-list li .social-list i {
    font-size: 22px;
    padding-right: 15px;
}

.footer-nav .info-footer #pages {
    height: 150px;
}