* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #252627;
}

.container {
    width: 1200px;
    margin: auto;
}


/* UTILITIES */
/* flex */
.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.flex-just-around {
    justify-content: space-around;
}

.flex-just-between {
    justify-content: space-between;
}

.flex-just-center {
    justify-content: center;
}


/* positions */
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.z-1 {
    z-index: 1;
}

/* text */
.bold {
    font-weight: 700;
}

.txt-upper {
    text-transform: uppercase;
}

.txt-orange {
    color: #f2b71d;
}

.txt-white {
    color: white;
}

.txt-center {
    text-align: center;
}

/* HEADER */
.header-nav {
    margin-top: 30px;
    padding-bottom: 30px;
}

.header-nav ul {
    list-style: none;
    align-items: center;
}

.header-nav ul .item-info {
    padding-right: 20px;
}

.header-nav ul .social-info {
   padding-left: 20px; 
}

.header-nav .info-list li:last-child {
    padding-right: 70px;
}

/* header hover */
.header-nav ul .item-info:hover {
    cursor: pointer;
}



/* MAIN */

/* jumbo section */
.jumbo {
    background-image: URL('../img/jumbo.jpg');
    background-size: cover;
    height: 800px;
}

.jumbo .container {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
} 

.jumbo .container .revolution {
    flex-basis: 550px;
    margin-bottom: 120px;
    margin-right: 100px;
}

.jumbo .container .revolution span {
    font-size: 60px;
}

.jumbo .container .revolution p {
    line-height: 30px;
    font-size: 17px;
    padding-top: 20px;
    color: #6b6b66;
}

.jumbo .limited-sales {
    background-color: #f2b71d;
    width: 1200px;
    height: 200px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 55px);
    border-radius: 10px;
}

/* limited sales */
.limited-sales {
    align-items: center;
}

.limited-sales .sales {
    padding-left: 60px;
}

.limited-sales .sales h2 {
    font-size: 30px;
}

.limited-sales .sales input {
    padding-left: 20px;
    margin-top: 30px;
    width: 480px;
    height: 50px;
    border-radius: 100px;
    border: none;
    -webkit-box-shadow: -2px 5px 4px -6px #000000;
    -moz-box-shadow: -2px 5px 4px -6px #000000;
    -o-box-shadow: -2px 5px 4px -6px #000000;
    box-shadow: -2px 5px 4px -6px #000000;
}

.limited-sales .sales .btn-submit {
    margin-top: 30px;
    width: 120px;
    height: 50px;
    border-radius: 100px;
    border: none;
    left: -60px;
    background-color: #4d5156;
    color: #e4e7e7;
}

.limited-sales .sales .btn-submit:hover {
    cursor: pointer;
}


/* timer */
.limited-sales .countdown-sales {
    margin-right: 70px;
}

.limited-sales .countdown-sales .count {
    padding-right: 40px;
    font-size: 24px;
}


/* info doe banner */
.introduction {
    margin-top: 180px;
}

.doe {
    width: 35%;
    font-size: 34px;
    line-height: 50px;
}

.doe .sign {
    margin: 40px auto;
    width: 200px;
}

.info-doe {
    width: 50%;
}

.info-doe p {
    font-size: 18px;
    line-height: 40px;
    color: #6b6b66;
}


/* courses */
.courses-bg {
    background-color: #e1eaea;
}

.courses-bg h2 {
    font-size: 50px;
    padding: 30px 0px;
}

.course {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.137);
}

.course .title-course {
    width: 95%;
    margin: 0px auto;
    border-bottom: 1px solid #6b6b6663;
}

.course img {
    width: 100%;
}

.course h3 {
    font-size: 20px;
    opacity: .9;
    padding: 30px 0px;
}

.course p {
    font-size: 16px;
    color: #6b6b66;
    padding-bottom: 35px;
}