<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <!-- vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

    <title>PROJ-HTML-VUEJS-PM</title>
</head>

<body>
    <div id="app">
        <!-- HEADER -->
        <div class="header-nav container d-flex flex-just-around">
            <!-- logo header -->
            <div class="logo">
                <a href="">
                    <img src="./img/MasterStudy-1.svg" alt="Logo MasterStudy">
                </a>
            </div>
            <!-- link list -->
            <div class="link-list d-flex flex-just-between">
                <ul class="info-list d-flex">
                    <!-- li prova, ciclato con v-for -->
                    <li v-for="item in links">
                        <h3>
                            {{ item }}
                        </h3>
                    </li>
                </ul>
                <ul class="social-list d-flex">
                    <!-- social list ciclato con v-for -->
                    <li v-for="social in socials">
                        <a href=""><i v-bind:class="[social.links]"></i></a>
                    </li>
                </ul>
            </div>
            
        </div>    
        <!-- MAIN -->
        <div id="main">
            <!-- jumbo section -->
            <div class="jumbo p-relative">
                <div class="container d-flex flex-just-around">
                    <div class="revolution">
                        <span class="bold">
                            Start your Human 
                            <span class="txt-orange">
                                Revolution
                            </span>
                            <span>
                                today
                            </span>
                        </span>
                        <p>A wonderful serenity has taken possession of my entire soul,
                            like these sweet mornings of spring which i enjoy with my whole heart.
                        </p>
                    </div>
                    <!-- sales section -->
                    <div class="limited-sales p-absolute d-flex flex-just-between">
                        <!-- offer sales -->
                        <div class="sales">
                            <h2>
                                <span class="txt-white">Limited sales:</span>
                                All courses with 55% off
                            </h2>
                            <input type="text" placeholder="Enter your E-mail">
                            <button class="btn-submit z-1 p-relative txt-upper bold">Subscribe</button>
                        </div>
                        <!-- creare in vue un timer -->
                        <div class="countdown-sales d-flex bold">
                            <div class="count count-days">
                                giorni
                            </div>
                            <div class="count count-hours">
                                ore
                            </div>
                            <div class="count count-minutes">
                                minuti
                            </div>
                            <div class="count count-seconds">
                                secondi
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
            <!-- introduction john doe -->
            <div class="introduction container d-flex flex-just-around">
                <div class="doe d-flex flex-col">
                    <p class="bold">
                        Hey there, my name is Jhon Doe. I'm the founder of the Brain Academy.
                    </p>
                    <img class="sign" src="./img/sign.jpg" alt="">
                </div>
                <div class="info-doe">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex reprehenderit, molestias voluptatum consequuntur ipsam nobis reiciendis magni dolore beatae. 
                        Quis error ducimus alias nemo tenetur ea perferendis quia sequi! Exercitationem.
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex reprehenderit, molestias voluptatum consequuntur ipsam nobis reiciendis magni dolore beatae. 
                        Quis error ducimus alias nemo tenetur ea perferendis quia sequi! Exercitationem.
                    </p>
                </div>
            </div>
            <!-- courses -->
            <div class="courses-bg">
                <span class="txt-center">
                    <h2>New courses</h2>
                </span>
                <div class="courses container d-flex wrap flex-just-between">
                    <div class="course p-relative">
                        <!-- immagine corso -->
                        <div class="img-container p-relative">
                            <img src="./img/photo-1496307042754-b4aa456c4a2d-370x200.jpeg" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>
                        <!-- titolo corsi -->
                        <div class="title-course">
                            <h3>
                                How to be a DJ? Make Eletronic music
                            </h3>
                            <p>Eletronic</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Advanced</span>
                            <span><i class="fas fa-list txt-orange"></i>8 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                        <!-- special offer span -->
                        <span class="special-offer p-absolute">
                            Special
                        </span>
                    </div>
                    <div class="course p-relative">
                        <div class="img-container p-relative">
                            <img src="./img/unreal-1-740x400.png" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>  
                        <div class="title-course">
                            <h3>
                                Nvidia and UE4 Technologies Pratice
                            </h3>
                            <p>Nvidia</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Advanced</span>
                            <span><i class="fas fa-list txt-orange"></i>8 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                        <!-- special offer span -->
                        <span class="special-offer p-absolute">
                            Special
                        </span>
                    </div>
                    <div class="course p-relative">
                        <div class="img-container p-relative">
                            <img src="./img/fashion-1491897554428-130a60dd4757-740x400.jpeg" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>
                        <div class="title-course">
                            <h3>
                                Fashion Photography from professional
                            </h3>
                            <p>Fashion</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Advanced</span>
                            <span><i class="fas fa-list txt-orange"></i>6 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                        <!-- special offer span -->
                        <span class="special-offer p-absolute">
                            Special
                        </span>
                    </div>
                    <div class="course p-relative">
                        <div class="img-container p-relative">
                            <img src="./img/design-1416339134316-0e91dc9ded92-740x400.jpeg" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>
                        <div class="title-course">
                            <h3>
                                Design intruments for Communication
                            </h3>
                            <p>Communication</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Intermediate</span>
                            <span><i class="fas fa-list txt-orange"></i>6 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                    </div>
                    <div class="course p-relative">
                        <div class="img-container p-relative">
                            <img src="./img/cathryn-lavery-67852-unsplash-740x400.jpg" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>
                        <div class="title-course">
                            <h3>
                                Make your concept right and beautiful
                            </h3>
                            <p>Art</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Intermediate</span>
                            <span><i class="fas fa-list txt-orange"></i>6 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                    </div>
                    <div class="course p-relative">
                        <div class="img-container p-relative">
                            <img src="./img/photo-1475452779376-caebfb988090-740x400.jpeg" alt="">
                            <span class="hover-price bold p-absolute hidden">
                                &#36;59
                            </span>
                        </div>
                        <div class="title-course">
                            <h3>
                                Road bike manual or how to be a Champion.
                            </h3>
                            <p>Bicycling</p>
                        </div>
                        <div class="info-course d-flex flex-just-between">
                            <span><i class="fas fa-signal txt-orange"></i>Intermediate</span>
                            <span><i class="fas fa-list txt-orange"></i>6 Lectures</span>
                            <span><i class="far fa-clock txt-orange"></i>6 Hours</span>
                        </div>
                    </div>
                </div>
                <div class="btn-container d-flex txt-center">
                    <button class="load-btn txt-white">Load more</button>
                </div>
            </div>
            <!-- masterstudy book -->
            <div class="book-bg d-flex flex-just-between">
                <div class="box-sx d-flex">
                    <div class="order-amazon d-flex">
                        <h2 class="txt-orange">
                            Get my exclusive investing book just for &#36;19.50
                        </h2>
                        <h3>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Nostrum sed in similique praesentium obcaecati corrupti nihil, saepe qui modi.
                        </h3>

                        <img src="./img/amazon.png" alt="">
                    </div>
                </div>
                <div class="box-dx book-img d-flex p-relative">
                    <img class="p-absolute"
                    src="./img/book.png" alt="">
                </div>
            </div>
            <!-- why my course? -->
            <div class="why-me txt-center"> 
                <h2 class="bold">
                    Why my courses? 
                </h2>
            </div>
            <div class="why-info container d-flex flex-just-between wrap">
                <div class="why-info-box d-flex p-relative">
                    <div class="barra-hover p-absolute">
                        
                    </div>
                    <i class="fas fa-briefcase z-1 p-relative"></i>
                    <div class="info-txt">
                        <h3 class="z-1 p-relative">
                            Enterpreneurship
                        </h3>
                        <p class="z-1 p-relative">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Officia, explicabo totam consequatur voluptatem quasi suscipit obcaecati iure rerum earum quis.
                            Quas magnam amet deleniti dolor culpa vitae maxime at tempore.
                        </p>
                    </div>
                </div>
                <div class="why-info-box d-flex p-relative">
                    <div class="barra-hover p-absolute">
                        
                    </div>
                    <i class="far fa-paper-plane z-1 p-relative"></i>
                    <div class="info-txt">
                        <h3 class="z-1 p-relative">
                            Enterpreneurship
                        </h3>
                        <p class="z-1 p-relative">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Officia, explicabo totam consequatur voluptatem quasi suscipit obcaecati iure rerum earum quis.
                            Quas magnam amet deleniti dolor culpa vitae maxime at tempore.
                        </p>
                    </div>
                </div>      
                <div class="why-info-box d-flex p-relative">
                    <div class="barra-hover p-absolute">
                        
                    </div>
                    <i class="fas fa-thumbs-up z-1 p-relative"></i>
                    <div class="info-txt">
                        <h3 class="z-1 p-relative">
                            Enterpreneurship
                        </h3>
                        <p class="z-1 p-relative">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Officia, explicabo totam consequatur voluptatem quasi suscipit obcaecati iure rerum earum quis.
                            Quas magnam amet deleniti dolor culpa vitae maxime at tempore.
                        </p>
                    </div>
                </div>  
                <div class="why-info-box d-flex p-relative">
                    <div class="barra-hover p-absolute">
                        
                    </div>
                    <i class="fas fa-cogs z-1 p-relative"></i>
                    <div class="info-txt">
                        <h3 class="z-1 p-relative">
                            Enterpreneurship
                        </h3>
                        <p class="z-1 p-relative">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Officia, explicabo totam consequatur voluptatem quasi suscipit obcaecati iure rerum earum quis.
                            Quas magnam amet deleniti dolor culpa vitae maxime at tempore.
                        </p>
                    </div>
                </div>  
            </div>
            <!-- counter banner -->
            <div class="counter-bg">
                <div class="counter-container container d-flex wrap flex-just-between">
                    <!-- counter learner -->
                    <div class="counter d-flex">
                        <i class="fas fa-user-friends txt-white"></i>
                        <span>
                            <h2>
                                3195
                            </h2>
                            <h3 class="txt-white">
                                Online learner
                            </h3>
                        </span>
                    </div>
                    <div class="counter d-flex">
                        <i class="fas fa-photo-video txt-white"></i>
                        <span>
                            <h2>
                                23
                            </h2>
                            <h3 class="txt-white">
                                Video courses
                            </h3>
                        </span>
                    </div>
                    <div class="counter d-flex">
                        <i class="fas fa-images txt-white"></i>
                        <span>
                            <h2>
                                437
                            </h2>
                            <h3 class="txt-white">
                                Slides & Images
                            </h3>
                        </span>
                    </div>
                    <div class="counter d-flex">
                        <i class="fas fa-thumbs-up txt-white"></i>
                        <span>
                            <h2>
                                1440
                            </h2>
                            <h3 class="txt-white">
                                Excellent reviews
                            </h3>
                        </span>
                    </div>
                </div>  
            </div>
            <!-- slider students -->
            <div class="slider-students-container txt-center">
                <h2>
                    What students say
                </h2>
                
                <div class="slider d-flex flex-just-between">
                    <i class="fas fa-arrow-left"></i>
                    <div class="photo-sx">
                        foto1
                    </div>
                    <div class="photo-central">
                        fotocentrale
                    </div>
                    <div class="photo-dx">
                        foto2
                    </div>
                    <i class="fas fa-arrow-right"></i>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur dolor veniam sit alias nihil laboriosam repudiandae, earum enim soluta iste officia debitis voluptas, obcaecati, cum consectetur ducimus? Unde, ad vitae.
                </p>
            </div>
        </div>
        
        <!-- FOOTER -->
        <div class="footer-bg">
            <div class="footer-nav container d-flex wrap flex-just-between">
                <div class="info-footer">
                    <h3>
                        About
                    </h3>
                    <!-- about list footer -->
                    <ul class="info-list">
                        <li>
                            <p>
                                Masterstudy is Education Lorem ipsum dolor sit, 
                                amet consectetur adipisicing elit. Eveniet fuga explicabo quae 
                                dolorum aspernatur est
                            </p>
                        </li>
                        <li>
                            <!-- social list -->
                            <ul class="social-list d-flex">
                                <!-- social list ciclato con v-for -->
                                <li v-for="social in socials">
                                    <a href=""><i v-bind:class="[social.links]"></i></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="info-footer">
                    <h3>
                        Contact
                    </h3>
                    <!-- contact list footer -->
                    <ul class="info-list">
                        <li>
                            <p>
                                USA, California 20, First Avenue, California
                            </p>
                        </li>
                        <li>
                            <p>
                                Tel.: +1 230 203 202 <br>
                                Fax: +1 230 203 243
                            </p>
                        </li>
                        <li>
                            <p>
                                info@masterstudy.com
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="info-footer">
                    <h3>
                        Pages
                    </h3>
                    <!-- pages list footer -->
                    <ul id="pages" class="info-list d-flex flex-col wrap">
                        <li>
                            <p>
                                Blog
                            </p>
                        </li>
                        <li>
                            <p>
                                Home
                            </p>
                        </li>
                        <li>
                            <p>
                                Shortcodes
                            </p>
                        </li>
                        <li>
                            <p>
                                membership
                            </p>
                        </li>
                        <li>
                            <p>
                                Courses
                            </p>
                        </li>
                        <li>
                            <p>
                                Typography
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="info-footer">
                    <h3>
                        Blog
                    </h3>
                    <!-- contact list footer -->
                    <ul class="info-list">
                        <li v-for="blog in blogs" class="d-flex">
                           <img :src="`./img/${blog.image}`" alt="">
                           <div class="text-box">
                                <h4>
                                    {{ blog.title }}
                                </h4>
                                <p>
                                    {{ blog.date }}
                                </p>
                           </div> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/dayjs.min.js" integrity="sha512-C2m821NxMpJ4Df47O4P/17VPqt0yiK10UmGl59/e5ynRRYiCSBvy0KHJjhp2XIjUJreuR+y3SIhVyiVilhCmcQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.9.6/locale/it.min.js" integrity="sha512-phkVsg58Vew4wUU/r26xmmcziH8AaEgdySp+pUdGUQerHGrK1jaqXCDI7/ezobI2jBqu6vMTV0CTwQrKNbEMNw==" crossorigin="anonymous"></script>
</body>
</html>